<h1>Let's create a dino!</h1>

<form method="POST" action="/dinosaurs">
  <label for="dinosaurType">Type</label>
  <input type="text" name="type">

  <label for="dinosaurName">Name</label>
  <input id="dinosaurName" type="text" name="name">

  <input id="dinosaurType" type="submit">
</form>